# Basic .gitignore file, only for the files of the current project

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# RubyMine .idea directory
/.idea

# Gemfile.lock
Gemfile.lock