-if sender
	- if sender.errors.any?
		%div{ :id => 'error_explanation'}
			.alert.alert-danger.alert-dismissible
				%button.close{ :type => 'button', :data => { :dismiss => 'alert'} }
					%span{ 'aria-hidden' => 'true' }
						&times;
					%span{ :class => 'sr-only' }
						Close
				%h4
					The form contains #{pluralize(sender.errors.count, "error")}.
				%ul
					- sender.errors.full_messages.each do |msg|
						%li
							= msg
