@import 'bootstrap-sprockets';
@import 'bootstrap';

.page-wrapper {
	padding-top: 75px;
	padding-bottom: 15px;
}

header .navbar {

	.navbar-text {
		margin-bottom: 0;
	}

	.navbar-header {

		.navbar-brand {
			padding: 9px 9px;
			line-height: 32px;
		}

	}

	.navbar-brand img {
		width: 32px;
		height: 32px;
	}

}

table.table th.text-nowrap {
	white-space: nowrap;
}

.row {

	&.booking-table {
		margin-left: 0;
		margin-right: 0;

		a {
			text-align: left;
			text-decoration: none;
			color: #fff;
		}

	}

}