@import 'bootstrap-sprockets';
@import 'bootstrap';

.page-wrapper {
	padding-top: 75px;
    padding-bottom: 15px;
}

.row {

	&.booking-table {
		margin-left: 0;
		margin-right: 0;

		a {
			text-align: left;
			text-decoration: none;
			color: #fff;
		}

	}

}